h1{
        font-size: 40px;
        text-shadow: 5px 5px 5px red,10px 10px 10px green,15px 15px 15px blue;
        border: 2px solid black;
        margin: 2px 300px 2px 300px;
        border-radius: 100px;
        box-shadow: 10px 10px 10px green,20px 20px 30px red;
    }
    form{
        margin: 30px 400px;
        border-radius: 10px;
        box-shadow:-10px 10px 10px green,20px 20px 20px red;
        padding: 15px;
    }